{
    "presets": [
      [
        "@nx/react/babel",
        {
          "runtime": "automatic"
        }
      ]
    ],
    "plugins": [
        ["babel-plugin-root-import", {
          "rootPathSuffix": "./node_modules/",
          "rootPathPrefix": "@"
        }]
      ]
  }
  