NX_DB_HOST=localhost
NX_DB_PORT=5432
NX_DB_USERNAME=postgres
NX_DB_PASSWORD=
NX_DB_DATABASE=bhchp
AWS_BUCKET_NAME=
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SES_SENDER_EMAIL=
VITE_S3_BUCKET_ADDR=
CLOUD_AWS_BUCKET_NAME=bhchp-bucket
COGNITO_USER_POOL_ID=
COGNITO_REGION=us-east-2
COGNITO_APP_CLIENT_ID=
COGNITO_CLIENT_SECRET=
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_REGION=us-east-2
#Frontend Variable that uses app client with no secret requirement
VITE_COGNITO_APP_CLIENT_ID=
VITE_AWS_REGION=us-east-2
