NX_DB_HOST=localhost
NX_DB_USERNAME=postgres
NX_DB_PASSWORD=
NX_DB_DATABASE=jumpstart
NX_DB_PORT=5432

# AWS S3
AWS_REGION=us-east-2
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
# Add one env var per S3 bucket (see apps/backend/src/aws/s3/README.md for the full setup steps)
# Example: AWS_MY_BUCKET_NAME=my-bucket-name